## Busca SQL MP

Método:

Para cara arquivo contendo dados dos diversos sistemas, gerar dataframe com número de processo e SQL relacionado (1 para n), unir os data frames em um único e após, iterar sobre a lista de sqls que se quer pesquisar e procurar, esse determinado sql, trazendo todos os processos que forem encontrados.

In [40]:
import pyodbc
import pandas as pd
import copy
from datetime import datetime

server = 'd64v38i'
username = 'user_sa_licenciamento_leitura_ext'
password = '1qEr3@ext'
database = 'sa_licenciamento'

connection_string = 'DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password

# Conectar ao banco de dados
connection = pyodbc.connect(connection_string)

# Consulta SQL
def sql_query(query):
    return pd.read_sql(query, connection)

In [41]:
# SQL_INCRA
#df_sql_incra = sql_query('SELECT * FROM dbo.prata_sql_incra')
#df_sql_incra.info()

In [42]:
#df_sql_incra['data_extracao'] = datetime.now()

In [43]:
#df_sql_incra.to_csv('dados_sql_incra.csv', sep=';', index=False)

In [44]:
bi_sql_incra = pd.read_csv('bi_sql_incra.csv', sep=',', low_memory=False)
bi_sql_incra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1931025 entries, 0 to 1931024
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   sistema            object
 1   processo           object
 2   protocolo          object
 3   codigoAssuntoObra  object
 4   sql_incra          object
 5   tipoSql_incra      float64
 6   dt_inclusao        object
dtypes: float64(1), object(6)
memory usage: 103.1+ MB

In [45]:
prata_sql_incra = pd.read_csv('prata_sql_incra.csv', sep=',', low_memory=False)
prata_sql_incra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682986 entries, 0 to 1682985
Data columns (total 12 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id_prata_sql_incra    1682986 non-null  int64
 1   id_prata_assunto      1682986 non-null  int64
 2   sistema               1682986 non-null  object
 3   processo              1676965 non-null  object
 4   protocolo             262745 non-null   object
 5   codigoAssuntoObra     1682986 non-null  object
 6   sql_incra             1682672 non-null  object
 7   tipoSql_incra         1682956 non-null  object
 8   origem_carga          1450858 non-null  object
 9   origem_sql_incra      1682672 non-null  object
 10  dtcarga               1682986 non-null  object
 11  origem_tipoSql_incra  1522946 non-null  object
dtypes: int64(2), object(10)
memory usage: 154.1+ MB

In [46]:
df_proc_sql = prata_sql_incra[['processo', 'sql_incra', 'sistema', 'codigoAssuntoObra']][:]
df_proc_sql.head(20)

,processo,sql_incra,sistema,codigoAssuntoObra
0,0000.2012/0291510-4,116.241.0014-6,SLCe,928B40CC-16EB-E211-B0E7-00505693585A
1,0000.2012/0291510-4,116.241.0014-6,SLCe,33EA8B6A-E708-E211-962F-005056BC4B84
2,0000.2012/0291511-2,010.010.0022-6,SLCe,7F58FD4E-2DA9-E311-9001-005056BC4B84
3,0000.2012/0291547-3,007.059.0022-3,SLCe,DCBA79BB-6409-E211-962F-005056BC4B84
4,0000.2012/0291557-0,123.027.0217-3,SLCe,A9CE8AD0-5E02-E211-B0B6-005056BC4B88
5,0000.2012/0291743-3,310.101.0006-5,SLCe,662C106D-BC3A-E411-A933-005056BC4B84
6,0000.2012/0291743-3,310.101.0006-5,SLCe,43C13995-FAA1-E211-BC1E-005056BC4B88
7,0000.2012/0291743-3,310.101.0006-5,SLCe,42B8E185-7A0D-E211-BAA6-00505693585A
8,0000.2012/0291745-0,075.124.0027-6,SLCe,DA969382-0108-E211-BADF-00505693585A
9,0000.2012/0291748-4,030.089.0016-1,SLCe,CD2E87C0-500E-E211-962F-005056BC4B84
10,0000.2012/0291971-1,072.181.0027-9,SLCe,37A5FC7E-0408-E211-962F-005056BC4B84
11,0000.2012/0291973-8,152.289.0041-0,SLCe,B1D84CE7-5B02-E211-B0B6-005056BC4B88
12,0000.2012/0291976-2,069.073.0022-2,SLCe,41A8BEAA-7103-E211-B93E-005056BC4B84
13,0000.2012/0291986-0,068.135.0017-1,SLCe,C21867C5-DE8C-E311-A368-00505693585A
14,0000.2012/0291986-0,068.135.0017-1,SLCe,009B1983-B404-E211-BADF-00505693585A
15,0000.2012/0291987-8,057.086.0060-8,SLCe,F41F27CE-9B08-E211-BADF-00505693585A
16,0000.2012/0292377-8,067.172.0021-9,SLCe,F49207A6-0B04-E211-B93E-005056BC4B84
17,0000.2012/0292404-9,202.025.0048-7,SLCe,ACFB7FDC-C408-E211-962F-005056BC4B84
18,0000.2012/0292407-3,147.297.0037-5,SLCe,4BE01F13-CE0C-E211-BAA6-00505693585A
19,0000.2012/0292408-1,031.022.0066-4,SLCe,652F304C-C60C-E211-BAA6-00505693585A

In [47]:
df_proc_sql_sisacoe = df_proc_sql.query("sistema == 'Sisacoe'")[:]
df_proc_sql_sisacoe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1420241 entries, 231843 to 1652083
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   processo           1420241 non-null  object
 1   sql_incra          1420241 non-null  object
 2   sistema            1420241 non-null  object
 3   codigoAssuntoObra  1420241 non-null  object
dtypes: object(4)
memory usage: 54.2+ MB

In [48]:
prata_assunto = pd.read_csv('prata_assunto.csv', sep=',', low_memory=False)
prata_assunto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564102 entries, 0 to 1564101
Data columns (total 30 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id_prata_assunto         1564102 non-null  int64
 1   id_prata_processo        1564102 non-null  int64
 2   sistema                  1564102 non-null  object
 3   processo                 1557362 non-null  object
 4   protocolo                216760 non-null   object
 5   codigoAssuntoObra        1564102 non-null  object
 6   dtInclusaoAssunto        1556056 non-null  object
 7   assuntoCod               1476368 non-null  object
 8   assunto                  1564102 non-null  object
 9   aditivo                  1527140 non-null  object
 10  tipoRequerimento         179842 non-null   object
 11  situacaoAssunto          1564099 non-null  object
 12  numeroAlvara             1452938 non-null  object
 13  dtEmissaoAlvara          837954 non-null   object
 14  statusAlvara             106767 non-null   object
 15  dtcarga                  1564102 non-null  object
 16  origem_situacaoAssunto   1564099 non-null  object
 17  origem_assuntoCod        1476368 non-null  object
 18  origem_assunto           1527210 non-null  object
 19  origem_aditivo           1527140 non-null  object
 20  origem_tipoRequerimento  179842 non-null   object
 21  origem_numeroAlvara      1422786 non-null  object
 22  origem_dtEmissaoAlvara   825042 non-null   object
 23  origem_statusAlvara      93002 non-null    object
 24  familiaASsunto           1217004 non-null  object
 25  assuntoFormatado         1527210 non-null  object
 26  assuntoPrincipal         1527210 non-null  object
 27  assuntoGrupo             0 non-null        float64
 28  instancia                63249 non-null    object
 29  tipoAditivo              1347526 non-null  object
dtypes: float64(1), int64(2), object(27)
memory usage: 358.0+ MB

In [49]:
prata_assunto = prata_assunto[['codigoAssuntoObra', 'assunto', 'sistema']][:]
prata_assunto = prata_assunto.query("sistema == 'Sisacoe'")
prata_assunto.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1347342 entries, 0 to 1347341
Data columns (total 3 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   codigoAssuntoObra  1347342 non-null  object
 1   assunto            1347342 non-null  object
 2   sistema            1347342 non-null  object
dtypes: object(3)
memory usage: 41.1+ MB

In [50]:
sql_assunto = df_proc_sql_sisacoe.merge(prata_assunto, on='codigoAssuntoObra', how='left')
df_proc_sql = sql_assunto[['processo', 'sql_incra', 'codigoAssuntoObra', 'assunto', 'sistema_x']][:]
df_proc_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420241 entries, 0 to 1420240
Data columns (total 5 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   processo           1420241 non-null  object
 1   sql_incra          1420241 non-null  object
 2   codigoAssuntoObra  1420241 non-null  object
 3   assunto            1420241 non-null  object
 4   sistema_x          1420241 non-null  object
dtypes: object(5)
memory usage: 54.2+ MB

In [51]:
df_proc_sql['sql_incra'] = df_proc_sql['sql_incra'].astype(str)

In [52]:
df_proc_sql['sql_incra'] = df_proc_sql['sql_incra'].apply(lambda x: x.replace('.', '').replace('-', ''))
df_proc_sql.head()

,processo,sql_incra,codigoAssuntoObra,assunto,sistema_x
0,0000.2003/1028157-8,09800900365,627775,AUTO DE REGULARIZACAO LEI N:13.558/2003,Sisacoe
1,0000.2017/0125346-8,11343100118,900098849,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,Sisacoe
2,0000.1997/0045736-2,11270300244,42978,ALVARA DE APROVACAO E EXECUCAO PARA RESIDENCIA...,Sisacoe
3,0000.2001/0006352-3,01303400790,396851,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
4,0000.2017/0153612-5,24601900113,1634233,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe

In [53]:
df_proc_sql['sql_incra'] = df_proc_sql['sql_incra'].apply(lambda x: x.strip())
df_proc_sql.head()

,processo,sql_incra,codigoAssuntoObra,assunto,sistema_x
0,0000.2003/1028157-8,09800900365,627775,AUTO DE REGULARIZACAO LEI N:13.558/2003,Sisacoe
1,0000.2017/0125346-8,11343100118,900098849,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,Sisacoe
2,0000.1997/0045736-2,11270300244,42978,ALVARA DE APROVACAO E EXECUCAO PARA RESIDENCIA...,Sisacoe
3,0000.2001/0006352-3,01303400790,396851,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
4,0000.2017/0153612-5,24601900113,1634233,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe

### Arquivo Busca

In [54]:
with open('sqls_metro.txt') as sqls_file:
    consulta = sqls_file.readlines()

consulta = list(map(lambda x: x[:-1], consulta))
len(consulta)

52

In [55]:
resultado = [df_proc_sql.query(f"sql_incra == '{sql}'") for sql in consulta]
result_df = pd.concat(resultado)
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1712 entries, 379168 to 1123578
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   processo           1712 non-null   object
 1   sql_incra          1712 non-null   object
 2   codigoAssuntoObra  1712 non-null   object
 3   assunto            1712 non-null   object
 4   sistema_x          1712 non-null   object
dtypes: object(5)
memory usage: 80.2+ KB

In [56]:
result_df.reset_index(drop=True, inplace=True)

In [57]:
result_df.tail(60)

,processo,sql_incra,codigoAssuntoObra,assunto,sistema_x
1652,0000.2018/0085317-0,00707100070,1667801,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1653,6056.2019/0006286-2,00707100070,1695018,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1654,0000.2018/0016401-3,00707100070,1647538,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1655,0000.2017/0155865-0,00707100070,1666394,RECONSIDERACAO DE DESPACHO DE AUTO DE LICENCA ...,Sisacoe
1656,0000.2018/0016402-1,00707100070,1673305,RECONSIDERACAO DE DESPACHO DE AUTO DE LICENCA ...,Sisacoe
1657,0000.2011/2000688-7,00707100070,1283181,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1658,0000.2018/0050733-6,00709200358,1654781,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1659,0000.2019/0020409-2,03016700018,1685902,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1660,0000.2018/0018431-6,03016700018,1647501,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1661,0000.2018/0018456-1,03016700018,1647493,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1662,0000.2018/0097191-1,03016700018,1670571,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1663,0000.2018/0018423-5,03016700018,1659588,RECONSIDERACAO DE DESPACHO DE AUTO DE LICENCA ...,Sisacoe
1664,0000.2019/0020408-4,03016700018,1685901,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1665,0000.2018/0010412-6,03016700018,1646314,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1666,0000.2018/0014835-2,03016700018,1647361,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1667,0000.2018/0018435-9,03016700018,1659589,RECONSIDERACAO DE DESPACHO DE AUTO DE LICENCA ...,Sisacoe
1668,0000.2018/0018462-6,03016700018,1647496,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1669,0000.2018/0085298-0,03016700018,1667814,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1670,0000.2018/0012783-5,03016700018,1646901,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1671,0000.2018/0002685-0,03016700018,1644527,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1672,0000.2018/0018462-6,03016700018,1684279,RECONSIDERACAO DE DESPACHO DE AUTO DE LICENCA ...,Sisacoe
1673,0000.2018/0010410-0,03016700018,1646313,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1674,0000.2019/0000083-7,03016700018,1679821,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1675,0000.2018/0018435-9,03016700018,1647500,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1676,0000.2018/0110476-6,03016700018,1674018,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1677,0000.2018/0085318-8,03016700018,1667795,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1678,0000.2018/0015836-6,03016700018,1647497,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1679,0000.2018/0014831-0,03016700018,1647357,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1680,0000.2018/0020185-7,03016700018,1648766,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1681,0000.2018/0025961-8,03016700018,1650424,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1682,0000.2018/0018456-1,03016700018,1684280,RECONSIDERACAO DE DESPACHO DE AUTO DE LICENCA ...,Sisacoe
1683,0000.2018/0018423-5,03016700018,1647504,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1684,0000.2018/0011590-0,06116900011,1677123,RECONSIDERACAO DE DESPACHO DE AUTO DE LICENCA ...,Sisacoe
1685,0000.2018/0011590-0,06116900011,1646384,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1686,0000.2013/0174677-7,11816100128,1426826,ALVARA DE EXECUCAO DE DEMOLICAO,Sisacoe
1687,0000.2011/0280150-6,11816100128,1314459,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,Sisacoe
1688,0000.2015/2003448-9,11816100128,1543067,CERTIFICADO DE CONCLUSAO DE DEMOLICAO,Sisacoe
1689,6068.2021/0002602-4,11830601910,1726348,APOSTILAMENTO DE ALVARA DE APROVACAO DE EDIFIC...,Sisacoe
1690,0000.2021/2000514-8,11830601910,1726841,ALVARA DE AUTORIZACAO PARA AVANCO DE TAPUME SO...,Sisacoe
1691,0000.2017/0064347-5,11830601910,900096941,ALVARA DE APROVACAO DE EDIFICACAO NOVA,Sisacoe
1692,0000.2023/2000451-0,11830601910,1757060,CERTIFICADO DE CONCLUSAO,Sisacoe
1693,0000.2021/2000018-9,11830601910,1724037,ALVARA DE AUTORIZACAO,Sisacoe
1694,0000.2017/0101388-2,11830601910,1621689,ALVARA DE AUTORIZACAO,Sisacoe
1695,0000.2017/0064347-5,11830601910,1718093,APOSTILAMENTO DE ALVARA DE APROVACAO DE EDIFIC...,Sisacoe
1696,0000.2017/0064347-5,11830601910,1714925,ALVARA DE EXECUCAO DE EDIFICACAO NOVA,Sisacoe
1697,0000.2021/2000018-9,11830601910,1724037,ALVARA DE AUTORIZACAO,Sisacoe
1698,0000.2021/2000514-8,11830601910,1726841,ALVARA DE AUTORIZACAO PARA AVANCO DE TAPUME SO...,Sisacoe
1699,0000.2017/0064347-5,11830601910,900096941,ALVARA DE APROVACAO DE EDIFICACAO NOVA,Sisacoe
1700,0000.2017/0064347-5,11830601910,1718093,APOSTILAMENTO DE ALVARA DE APROVACAO DE EDIFIC...,Sisacoe
1701,6068.2021/0002602-4,11830601910,1726348,APOSTILAMENTO DE ALVARA DE APROVACAO DE EDIFIC...,Sisacoe
1702,0000.2023/2000451-0,11830601910,1757060,CERTIFICADO DE CONCLUSAO,Sisacoe
1703,0000.2017/0064347-5,11830601910,1714925,ALVARA DE EXECUCAO DE EDIFICACAO NOVA,Sisacoe
1704,0000.2014/0124777-2,11828700079,1479539,ALVARA DE EXECUCAO DE DEMOLICAO,Sisacoe
1705,0000.2016/2001862-0,11828700079,1579084,CERTIFICADO DE CONCLUSAO DE DEMOLICAO,Sisacoe
1706,0000.2015/0052112-0,10009000029,1519696,ALVARA DE AUTORIZACAO,Sisacoe
1707,0000.2016/2000851-0,11813500494,1566003,CERTIFICADO DE CONCLUSAO DE DEMOLICAO,Sisacoe
1708,0000.2013/0174680-7,11813500494,1426818,ALVARA DE EXECUCAO DE DEMOLICAO,Sisacoe
1709,0000.2013/0313583-0,15515400381,1453095,ALVARA DE EXECUCAO DE DEMOLICAO,Sisacoe
1710,0000.1994/0128116-5,15515400381,119047,CERTIFICADO DE REGULARIZACAO,Sisacoe
1711,0000.2014/2006841-1,15515400381,1507103,CERTIFICADO DE CONCLUSAO DE DEMOLICAO,Sisacoe

In [58]:
result_df = result_df.drop_duplicates()
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1702 entries, 0 to 1711
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   processo           1702 non-null   object
 1   sql_incra          1702 non-null   object
 2   codigoAssuntoObra  1702 non-null   object
 3   assunto            1702 non-null   object
 4   sistema_x          1702 non-null   object
dtypes: object(5)
memory usage: 79.8+ KB

In [59]:
result_df['processo'] = result_df['processo'].apply(lambda x: x.replace('.', '').replace('/', '').replace('-', ''))
result_df.head()

,processo,sql_incra,codigoAssuntoObra,assunto,sistema_x
0,0000201800133673,01801501793,1647086,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
1,0000201800104193,01801501793,1646317,AUTO DE LICENCA DE FUNCIONAMENTO,Sisacoe
2,0000201100409595,07303400974,1279252,APOSTILAMENTO DE ALVARA DE INSTALACAO DE ELEVA...,Sisacoe
3,0000201100409595,07303400974,1271575,CADASTRO DE EQUIPAMENTO MECANICO DE TRANSPORTE...,Sisacoe
4,0000201100409633,07303400974,1279781,APOSTILAMENTO DE ALVARA DE INSTALACAO DE ELEVA...,Sisacoe

In [61]:
result_df.to_excel('result_sisacoe.xlsx', index=False)

In [62]:
df_sisacoe = pd.read_excel('extracao_prodam_sisacoe.xlsx')
df_sisacoe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORIGEM                524 non-null    object
 1   PROCESSO              524 non-null    object
 2   DATA_PROTOCOLAMENTO   524 non-null    datetime64[ns]
 3   COD_ASS_OBRA          524 non-null    int64
 4   SQL_CONTRIBUINTE      524 non-null    object
 5   REQUERIMENTO          524 non-null    int64
 6   SITUACAO              524 non-null    object
 7   DATA_DESPACHO         516 non-null    datetime64[ns]
 8   UNIDADE_DESPACHO      516 non-null    object
 9   ALVARÁ                376 non-null    object
 10  DATA_EMISSÃO          376 non-null    datetime64[ns]
 11  DESCRICAO_DO_ASSUNTO  516 non-null    object
 12  NOME_PROPRIETARIO     516 non-null    object
 13  ENDERECO              516 non-null    object
 14  BAIRRO                514 non-null    object
 15  CEP                   516 non-null    object
 16  SUBPREFEITURA         516 non-null    object
 17  DATA_GERAÇÃO          516 non-null    datetime64[ns]
dtypes: datetime64[ns](4), int64(2), object(12)
memory usage: 73.8+ KB

In [63]:
df_sisacoe_analise = df_sisacoe[['ORIGEM', 'PROCESSO', 'SQL_CONTRIBUINTE']][:]
df_sisacoe_analise.columns = ['sistema_', 'processo', 'sql_incra_prodam']
df_sisacoe_analise['processo'] = df_sisacoe_analise['processo'].apply(lambda x: x.replace('-', '').replace('.', ''))
df_sisacoe_analise.head()

  sistema_          processo    sql_incra_prodam
0  SISACOE  0000200202247380  000.005.026.0001-2
1  SISACOE  0000200202247380  000.005.026.0001-2
2  SISACOE  0000200601257622  000.005.026.0001-2
3  SISACOE  0000200903697560  000.005.026.0001-2
4  SISACOE  0000201700972592  000.005.026.0001-2

In [64]:
df_sisacoe_analise.query("'13367' in processo")

Empty DataFrame
Columns: [sistema_, processo, sql_incra_prodam]
Index: []

In [66]:
common_processes = pd.merge(result_df, df_sisacoe_analise, on='processo', how='inner')

left_only_processes = pd.merge(result_df, df_sisacoe_analise, on='processo', how='left', indicator=True).query('_merge == "left_only"').drop('_merge', axis=1)

right_only_processes = pd.merge(result_df, df_sisacoe_analise, on='processo', how='right', indicator=True).query('_merge == "right_only"').drop('_merge', axis=1)

In [67]:
common_processes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   processo           760 non-null    object
 1   sql_incra          760 non-null    object
 2   codigoAssuntoObra  760 non-null    object
 3   assunto            760 non-null    object
 4   sistema_x          760 non-null    object
 5   sistema_           760 non-null    object
 6   sql_incra_prodam   760 non-null    object
dtypes: object(7)
memory usage: 41.7+ KB

In [68]:
left_only_processes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1195 entries, 0 to 1929
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   processo           1195 non-null   object
 1   sql_incra          1195 non-null   object
 2   codigoAssuntoObra  1195 non-null   object
 3   assunto            1195 non-null   object
 4   sistema_x          1195 non-null   object
 5   sistema_           0 non-null      object
 6   sql_incra_prodam   0 non-null      object
dtypes: object(7)
memory usage: 74.7+ KB

In [73]:
left_only_processes.drop_duplicates(subset=['processo']).info()

<class 'pandas.core.frame.DataFrame'>
Index: 941 entries, 0 to 1928
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   processo           941 non-null    object
 1   sql_incra          941 non-null    object
 2   codigoAssuntoObra  941 non-null    object
 3   assunto            941 non-null    object
 4   sistema_x          941 non-null    object
 5   sistema_           0 non-null      object
 6   sql_incra_prodam   0 non-null      object
dtypes: object(7)
memory usage: 58.8+ KB

In [69]:
right_only_processes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 21 to 772
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   processo           13 non-null     object
 1   sql_incra          0 non-null      object
 2   codigoAssuntoObra  0 non-null      object
 3   assunto            0 non-null      object
 4   sistema_x          0 non-null      object
 5   sistema_           13 non-null     object
 6   sql_incra_prodam   13 non-null     object
dtypes: object(7)
memory usage: 832.0+ bytes

In [70]:
result_df.to_excel('common_processes.xlsx', index=False)

In [71]:
result_df.to_excel('left_only_processes.xlsx', index=False)

In [72]:
result_df.to_excel('right_only_processes.xlsx', index=False)

In [ ]:
result_2 = sistemas.query("sql_clean == '25800400200'")

In [ ]:
result_2